{% extends "_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>
    
    <form method="post" action="{% url 'account_change_password' %}" class="form-horizontal">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">{% trans "Change Password" %}</button>
            </div>
        </div>
    </form>
    
    <a href="{% url 'account_reset_password' %}" class="btn btn-link" style="text-decoration: none;">{% trans "Forgot Password?" %}</a>
{% endblock content %}
