<!-- templates/books/book_detail.html -->
{% extends "_base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ object.title }}{% endblock title %}

{% block content %}
    <div class="book-detail">
        {% if book.cover %}
            <img class="bookcover" src="{{ book.cover.url}}" alt="{{ book.title }}">
        {% endif %}
        <h2><a href="">{{book.title}}</a></h2>
        <p>Author: {{book.author}}</p>
        <p>Price: {{book.price}}</p>
        <div>
            <h3>Reviews</h3>
            <ul>
            {% for review in book.reviews.all %}
                <li>{{ review.review }} ({{ review.author }}) 
                    {% if user == review.author %}
                        <form action="{% url 'review_delete' review.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
        <div>
            <h3> Add a comment </h3>
            <form action="" method="post">{% csrf_token %}
                {{form | crispy}}
                <button class="btn btn-success ml-2" type="submit">Save</button>
            </form>
        </div>
    </div>
{% endblock content %}

